body {
  background-color: rgb(193, 224, 252);
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 2rem;
  color: rgb(57, 57, 240);
}

h2 {
  font-size: 1 rem;
  color:rgb(99, 168, 162) ;
}
.line {
  margin:0;
  display:flex;

}

.tube {
  padding: 10px;
  width: 50%;
}

.black {
  background-color: black;
  color: white
}

.blue {
  background-color: blue;
  color: white
}


.light-blue {
  background-color: rgb(0, 140, 255);
  color: black
}


.pink {
  background-color: rgb(248, 192, 255);
  color: black
}

.red {
  background-color: rgb(224, 32, 32);
  color: white
}

.green {
  background-color: green;
  color: black
}

.orange {
  background-color: rgba(255, 123, 0, 0.767);
  color: black
}

.grey {
    background-color: grey;
    color: black
}

.busLine {
  display:flex;
  width:30%;
  border: 1px solid black;
}

.busNumber {
  width: 15%;
  border-right:  1px solid black;
  padding: 5px;
}

.busTime {
  width: 85%;
  padding: 5px;
}

.due {
  background-color: red;
  color: white
}